*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@media (prefers-color-scheme: dark){
  html,body{
    background-color: #1c1c1c;
    color: #e6e7e8;
  }
  h1:after{
    content: "dark";
  }
  h1,h2,h3{
    color: #93a5ff;
  }
  .section, .header{
    border-bottom: 1px solid #d5a001;
  }
  .footer{
    border-top: 1px solid #d5a001;
  }
  a{
    color: #d5a001;
  }
  a:hover{
    color: #af8301;
    text-decoration: underline;
  }
  .posts{
    background-color: #151515;
  }
  .bg-img{
    filter: brightness(80%);
  }
}
@media (prefers-color-scheme: light){
  html,body{
    background-color: #e6e7e8;
    color: #1c1c1c;
  }
  h1:after{
    content: "light";
  }
}